<html>
<head>
    <meta charset="UTF-8">
    <title>Rare HTML tags</title>
    <style>
        meter, progress {
            height: 8vh;
            width: 50%;
        }
    </style>
</head>
<body>
    <div>
        <span>details and summary tag</span>
        <details>
            <summary>
                Click here to know more
            </summary>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum id ea, quisquam eos architecto deserunt ut possimus quod dicta itaque illum dolores voluptatum accusamus perspiciatis rem vel excepturi est nesciunt.
            </p>
        </details>
        <br><br>
        <input type="color">
        <input type="range" value="2" min="1" max="20">
        <input type="date">
        <input type="time">
        <input type="datetime-local">
        <input type="week">        
        <br><br>
        <meter min="50" max="100" value="70"></meter>
        <br><br>
        <progress></progress>
        <progress max="20" value="10"></progress>
        <br><br>
        <input type="text" list="suggestions" size="50px" placeholder="Search Car">
        <datalist id="suggestions">
            <option value="mercedes">Mercedes</option>
            <option>Volvo</option>
            <option value="bmw">BMW</option>
        </datalist>
        <br><br>
        <select>
            <optgroup label="important">
                <option value="imp1">Important 1</option>
                <option value="imp2">Important 2</option>
            </optgroup>
            <optgroup label="other">
                <option value="other1">Other 1</option>
                <option value="other2">Other 2</option>
            </optgroup>
        </select>
    </div>
</body>
</html>