<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastify - Liquid</title>
    <link rel="stylesheet" href="/assets/css/chat.css">
</head>
<body>
    <p>This is Chat page</p>
    <hr>
    <div id="container">
    </div>
    <button type="button" id="btn">Submit</button>
    <a href="/home/to_chat">Redirect to Home</a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/assets/js/chat.js"></script>
</body>
</html>