/*Color Initialization*/
/************************************************/
:root {
    --blue-color: rgb(0, 102, 161);
    --lightblue-color: rgb(156, 214, 248);
    --purple-color: rgb(102,57,183);
    --lightpurple-color: rgba(102,57,183,0.15);
    --green-color: rgb(0,165,156);
    --lightgreen-color: rgba(0,165,156,0.22);
    --orange-color: rgb(250, 97, 25);
    --lightorange-color: rgba(250, 97, 25,0.2);
    --yellow-color: rgb(158, 149, 0);
    --lightyellow-color: rgba(158, 149, 0,0.2);
    
    --resp-success-color: rgb(215 206 67);
    --resp-danger-color: rgb(255 70 70);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue {
    color: var(--blue-color);
}

.bblue {
    background-color: var(--blue-color);
}

.blightblue {
    background-color: var(--lightblue-color);
}

.bpurple{
    background-color: var(--purple-color);
}

.blightpurple{
    background-color: var(--lightpurple-color);
}

.bgreen{
    background-color: var(--green-color);
}

.blightgreen{
    background-color: var(--lightgreen-color);
}

.borange{
    background-color: var(--orange-color);
}

.blightorange{
    background-color: var(--lightorange-color);
}

.byellow{
    background-color: var(--yellow-color);
}

.blightyellow{
    background-color: var(--lightyellow-color);
}

.title {
    font-family: 'Stag Medium';
}

.subtitle {
    font-family: 'Stag Light';
    font-size:18px;
}

.pointer{
    cursor:pointer;
}

.successtext {
    color: var(--resp-success-color);
}
.dangertext {
    color: var(--resp-danger-color);
}
/*Font Initialization*/
/************************************************/

@font-face {
    font-family: 'Stag Sans';
    src: url("../fonts/StagSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/StagSans-Book.otf") format("opentype"), url("../fonts/StagSans-Book.woff") format("woff"), url("../fonts/StagSans-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Stag Light';
    src: url("../fonts/Stag-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Light.otf") format("opentype"), url("../fonts/Stag-Light.woff") format("woff"), url("../fonts/Stag-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Stag Medium';
    src: url("../fonts/Stag-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Medium.otf") format("opentype"), url("../fonts/Stag-Medium.woff") format("woff"), url("../fonts/Stag-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Stag SemiBold';
    src: url("../fonts/Stag-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Semibold.otf") format("opentype"), url("../fonts/Stag-Semibold.woff") format("woff"), url("../fonts/Stag-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Verdana';
    src: url("../fonts/Verdana.ttf");
    font-weight: normal;
    font-style: normal
}

/*Body*/
body {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(187deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.90) 100%), url(../img/bg/bg1.jpg) no-repeat center center / cover;
    background-attachment: fixed;
/*    overflow-y: hidden;*/
}

/*Header*/
.header{
    position: relative;
    top: 10px;
}
.webicon{
    position: relative;
    animation: glide 2s ease-in-out alternate infinite;
}
@-webkit-keyframes glide {
    from { transform: scale(.95)}
    to { transform: scale(1.1) }
}
@-o-keyframes glide {
    from { transform: scale(.95)}
    to { transform: scale(1.1) }
}
@-ms-keyframes glide {
    from { transform: scale(.95)}
    to { transform: scale(1.1) }
}
@-moz-keyframes glide {
    from { transform: scale(.95)}
    to { transform: scale(1.1) }
}
@keyframes glide {
    from { transform: scale(.95)}
    to { transform: scale(1.1) }
}
.menuItem {
    font-size: 0.9em;
}
.menuItem:hover {
    font-weight: bolder;
    cursor: pointer;
    font-family: 'stag sans';
}
.langDropdown{
    min-width: 4.5rem !important;
    min-height: 29px;
    padding: 3px 13px;
}
.langDropdownIcon {
    font-size: 0.9rem;
    width: 15px;
}
.langDropdown img{
    height: 15px;
    width: 30px;
}
.langDropdown .menu.transition.visible {
    min-width: 63px !important;
}
.langDropdown .langitem {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    white-space: nowrap !important;    
}
.langDropdown .dropdown.icon{
    top: 0 !important;
    padding-top: 14px !important;
}
.ui.dropdown:not(.button)>.default.text{
    padding-right: 5px !important;
}
.ui.selection.dropdown{
    padding: 4px 35px 3px 7px !important;
    min-height: 25px;
}
.ui.selection.dropdown .menu>.item{
    padding: 4px 8px !important;
}
.ui.dropdown>.text{
    font-size: 10.5px;
    padding-right: 10px;
    position: relative;
    left: 4px;
}
.ui.search.selection.dropdown>input.search{
    padding: 3.321429px 2.1em 0.67857143em 1em;
}
.langDropdown .menu.transition.visible::-webkit-scrollbar{
    max-width: 0.3rem;
}

/*Response*/
#response {
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding: 0;
    border-radius: 10px;   
    background: rgb(24 21 21 / 25%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
}
.responseBlock{    
    position: relative;
    top: 3vh;
    height: 68vh;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.respContainer {
    font-size: 1.7em;
    line-height: 6vh;
    font-family: 'stag sans', sans-serif;
    color: var(--resp-text-color)
}

.respContainer.listening {
    background: url(../gif/siri-listening.png) no-repeat center center / cover;
    width: 200px;
    height: 200px;
    padding: 0; margin: 0;
    border-radius: 50%;
    animation: ripple .9s linear infinite;
}
@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 40px #fff0, 0 0 0 80px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}
@-moz-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 40px #fff0, 0 0 0 80px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}
@-o-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 40px #fff0, 0 0 0 80px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}
@-ms-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 40px #fff0, 0 0 0 80px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 40px #fff0, 0 0 0 80px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}

.respContainer.processing {
    background: url(../gif/siri-processing.png) no-repeat center center / cover;
    width: 200px;
    height: 200px;
    padding: 0; margin: 0;
    border-radius: 50%;
}

.respContainer.processing::before {
    content: '';
    position: relative;
    left: -16px;
    top: -17px;
    display: inline-block;
    width: 235px;
    height: 235px;
    border-top: 8px dotted #d1cfb5;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 8px dotted #d1cfb5;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: spinner 2s infinite linear;
}
@-webkit-keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-ms-keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Response based css - take a tour*/
.tourimg {
    width: 100%;
    height: 33vh;
    background-size: cover !important;
}
.tourtitle{
    font-size: 1.1rem;
    font-family: 'stag light', sans-serif;
    letter-spacing: 1.1px;
}
.tourdesc{
    font-size: .85rem;
    font-family: 'stag sans', sans-serif;
    height: 12vh;
    letter-spacing: 0.4px;
}
.carousel {
    position: inherit !Important;
}
.carousel-inner .card {
    width: 23rem;
}
.carousel-indicators{
    bottom: 4vh !Important;
}
.carousel-indicators button {
    border-radius: 50% !important;
    width: 1% !important;
    height: 1vh !important;
    background-color: #fff !important;
}
.carousel-control-next, .carousel-control-prev{
    width: 55%;
}
#tourCarousel .carousel-item .tourimg{
    animation: zoomIn 2s ease-in-out;
}
@keyframes zoomIn {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}

/*Response based css - show topics*/
.desc{
    color: var(--resp-success-color);
}
.descbtn .btn, #showdomains .btn, #startover .btn, .domainbtn{
/*    background: linear-gradient(180deg, #EFF54D, #00AC61);*/
    background-image: linear-gradient(-14deg, #EFF54D 0%, #3CA55C  51%, #3CA55C  100%);
    margin: 5px;
    font-family: 'helvetica';
    letter-spacing: 0.5px;
    border-radius: 14px;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    transition: 0.5s;
    background-size: 200% auto;
}
.descbtn .btn:hover, #showdomains .btn:hover, #startover .btn:hover, .domainbtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/*Response based css - show domains*/
#showdomains .domainDropdown{
    width: 55% !important;
}
.descdropdown .dropdown.icon{
    padding: 6px !important;
}
.descdropdown .search{
    font-size: 1.3rem;
    letter-spacing: 0.6px;
    padding: 3px 10px !important;
}
.descdropdown .text{
    font-size: 1rem !important;
    font-family: 'stag medium', sans-serif;
    letter-spacing: 1px;
    padding: 3px 2px !important;
}
.descdropdown .ui.selection.dropdown .menu>.item{
    padding: 8px !Important;
}
.descdropdown .menu.transition.visible::-webkit-scrollbar{
    max-width: 0.4rem;
}

/*Response based css - start over*/
#startover .domainDropdown{
    width: 30% !important;
}

/*Response based css - default answer*/
#defaultAnswer .successtext:hover{
    color: var(--resp-success-color);
    text-decoration: underline;
}
#defaultAnswer hr {
    height: 1.2px;
    background-color: #fff8f880;
    opacity: 1;
}
.qnaTitle{
    font-size: .8em;
    letter-spacing: .8px;
}
.qnaAnswer{
    font-size: .65em;
    line-height: 1.4em;    
}
#qnaSuggestions .btn{
    display: block;
    margin-bottom: 8px;
    padding: 3px 8px;
    margin-left: 0px;
    font-size: 13px;
    font-family: 'stag light', sans-serif;
    letter-spacing: 0.5px;
    text-align: left;
}
.paginate-pagination ul{
    margin: 10px 0;
}
.paginate-pagination ul a.page{
    line-height: 25px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 5px;
    height: 25px;
    width: 27px;
    font-family: 'Stag medium', sans-serif;
}
.paginate-pagination ul a.page.active{
    opacity: 1 !important;
    background: var(--blue-color);
    color: #fff !important;
}
.paginate-pagination ul a.page.deactive{
    cursor: not-allowed !important;
}
.qnaAttachments .qnaAnswer{
    color: var(--resp-success-color);
}
.qnaAttachments li, .qnaAttachments a{
    color: rgb(195 194 177);
}
.qnainfo{
    font-size: .6em;
    letter-spacing: 0.5px;
    color: var(--resp-success-color);
}

/*Chat*/
#chat {
    background: rgb(24 21 21 / 25%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    bottom: 5px;
    border-top: 2px dotted #e0e1e159;
}
.icoBox:hover, .icoActive {
    background-color: var(--yellow-color);
    border-color: var(--yellow-color) !important;
    box-shadow: 3px -1px 21px -2px rgba(186,162,162,0.75);
    -webkit-box-shadow: 3px -1px 21px -2px rgba(186,162,162,0.75);
    -o-box-shadow: 3px -1px 21px -2px rgba(186,162,162,0.75);
    -ms-box-shadow: 3px -1px 21px -2px rgba(186,162,162,0.75);
    -moz-box-shadow: 3px -1px 21px -2px rgba(186,162,162,0.75);
}
.ico{
    font-size: 32px;
    margin: 4px -5px;
}
.helperText {
    font-family: 'stag light', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 800;
    font-style: italic;
}
.helperText .badge {
    font-size: 0.8rem;
    font-style: normal;
    cursor: not-allowed;
}
.msgText input {
    border-radius: 18px;
}

/*Footer*/
.footerText {
    font-size: 9px;
    font-family: 'helvetica';
    letter-spacing: 0.5px;
}

/*Feedback*/
#sharefeedback .modal-title{
    font-size: 1.2rem;
    font-family: 'stag sans';
    letter-spacing: 0.5px;
}
#sharefeedback textarea{
    resize: none;
    text-align: left;
    font-size: 1em;
    font-family: 'stag sans', sans-serif;
}
#sharefeedback button{
    background-color: #0066a1;
    color: #fff;
    font-size: .9em;
    border: 1px solid #0066a1 !important;
    font-family: 'stag sans', sans-serif;
    cursor: pointer;
}
#sharefeedback button:hover, #sharefeedback button:active{
    background-color: #fff;
    color: #0066a1;
    border: 1px solid #0066a1 !important;
}
.modalDismiss:hover, .modalDismiss:active{
    background-color: #fff !important;
    color: #fff !important;
    border-radius: 50%;
    font-size: .7em !important;
}
.statusLoader, .statusAlertMessage{
    font-size: .9em;
    font-family: 'stag semibold', sans-serif;
    letter-spacing: 0.05em;
}
.alertIcon{
    font-size: 1.2em;
    font-weight: bolder;
}
.rating{
    font-size: 1.1em;
    font-family: 'stag sans', sans-serif;
}


.ui.selection.ratingDropdown.dropdown{
    min-height: 32px;
    width: 100% !important;
    padding: 3px 13px;
}
.ui.ratingDropdown.dropdown .menu>.item>img {
    max-height: 3em;
    width: 38px !important;
}
.ui.ratingDropdown .item.ratingitem small {
    font-size: 14.5px !important;
    font-family: 'stag sans', sans-serif;
}
.ui.selection.ratingDropdown.dropdown>.dropdown.icon{
    top: 3px !important;
}

.ratingDropdown .menu.transition.visible {
    min-width: 63px !important;
}

.ratingDropdown .ratingitem {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    white-space: nowrap !important; 
    padding: 16px 11px !important;
    font-size: .8em !important;
}
.ratingDropdown .dropdown.icon{
    top: 7px !important;
    padding-top: 14px !important;
}
.ui.selection.ratingDropdown.dropdown .menu>.item{
    padding: 9px 6px !important;
}
.ratingDropdown.search div.default.text{
    font-size: 15px !important;
    padding-right: 10px;
    position: relative;
    left: 4px;
}
.ui.search.ratingDropdown.dropdown .menu {
    max-height: 9.014286rem
}
.ui.dropdown.ratingDropdown>.text,
.ui.search.selection.ratingDropdown.dropdown>input.search{
    font-size: 14.5px !important;
    padding-top: 4px;
    font-family: 'stag sans', sans-serif;
}
.ui.selection.ratingDropdown.dropdown .menu>.message{
    font-size: 14.5px !important;
    padding: .2rem 0.8rem;
}

/* Media Queries */
@media screen and (max-width:576px) {
    .navicon{
        font-size: 1.7em;
    }
    .helperText {
        line-height: 2.4rem;
    }
    .siriContainer {
        width: 100%;
        height: 70vh;
    }
    .responseBlock{
        height: 65vh;
    }
    .respContainer {
        font-size: 1.6em;
        line-height: 3.5vh;
    }
    .carousel-indicators button {
        width: 3.5% !important;
        height: 1.5vh !important;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 9%;
    }
    #showdomains .domainDropdown, #startover .domainDropdown{
        width: 70% !important;
    }
    .paginate-pagination ul a.page{
        font-size: 13px;
        height: 18px;
        width: 20px;
        margin-right: 3px;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .carousel-control-next, .carousel-control-prev{
        width: 30%;
    }
}

/* Scrollbar customization */
/************************************************/
body::-webkit-scrollbar, #respScroller::-webkit-scrollbar{
    max-width: 0.5rem;
}
/* Track */
body::-webkit-scrollbar-track, #respScroller::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    -webkit-box-shadow: inset 0 0 5px grey;    /* Safari, Chrome */
    -moz-box-shadow: inset 0 0 5px grey;       /* Mozilla */ 
    -ms-box-shadow: inset 0 0 5px grey;        /* IE */
    -o-box-shadow: inset 0 0 5px grey;         /* Opera */
    border-radius: 10px;
}
/* Handle */
body::-webkit-scrollbar-thumb, #respScroller::-webkit-scrollbar-thumb{
/*    background-color: rgba(255, 255, 255, 1);*/
    background-image: -webkit-linear-gradient(to bottom, #8a9dc6 50%, #9e8ba5 100%);
    background-image: -moz-linear-gradient(to bottom, #8a9dc6 50%, #9e8ba5 100%);
    background-image: -o-linear-gradient(to bottom, #8a9dc6 50%, #9e8ba5 100%);
    background-image: -ms-linear-gradient(to bottom, #8a9dc6 50%, #9e8ba5 100%);
    background-image: linear-gradient(to bottom, #8a9dc6 50%, #9e8ba5 100%);
    border-radius: 10px;
}
body::-webkit-scrollbar-button, #respScroller::-webkit-scrollbar-button{
    display: none;
}

/* Selection Markup */
/************************************************/
::selection {
    color: #fff;
    background: #0066a1;
}
::-moz-selection {
    color: #fff;
    background: #0066a1;
}
::-ms-selection {
    color: #fff;
    background: #0066a1; 
}
::-o-selection {
    color: #fff;
    background: #0066a1;
}
::-webkit-selection {
    color: #fff;
    background: #0066a1;
}






























